!include include/default_my.cnf

[mysqld]
default_storage_engine          = InnoDB
lock_wait_timeout               = 1
innodb_file_format              = Barracuda
innodb_file_per_table           = 1
innodb_lock_wait_timeout        = 1
innodb_flush_log_at_trx_commit  = 0
